

body{

    background: white;
    height: 3000px;
    width: 70% ;

}

h1{

    color: black
    width: 70%;
    font-size: 30px;
    
    
}
h2{

    color: black ;
    width: 70%;
    font-size: 30px;
    
    
}
    


P{
    color: black;
    width: 70%;
    font-size: 30px;
    text-align: center;
    
}






 