body{
    background-color:rgb(130,186,235);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.formulaire{
    background-color: white;
    width: 100vh;
    padding: 32px;
    box-shadow: 0 12px 35px rgb(77, 74, 72);
    border-radius: 12px;
    
}

h1{
    margin: 0 0 8px;
    text-align: center;
}
p{
    color: blue;
}
